<div class="mt-4 container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-4 d-flex flex-column gap-3 ">
      <h3 class="card-title">{{course.name}}</h3>
      <img
        src={{course.image}}
        class="image-fixed"
        style="height: 400px;"
        alt="logo_photo"
      />
      <p class="card-text">{{course.description}}</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-4">

    </div>
  </div>
</div>